// Bootstrap

@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/variables-dark";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1680px // default: 1400px
);

$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
$box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
$border-width: 0;
$card-inner-border-radius: $card-border-radius;
$link-decoration: none;
$body-bg-dark: $dark-bg-subtle-dark;

@import "vendor/bootstrap/maps";
@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/root";
@import "vendor/bootstrap/utilities";

@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";
@import "vendor/bootstrap/images";
@import "vendor/bootstrap/containers";
@import "vendor/bootstrap/grid";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/transitions";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/navbar";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/breadcrumb";
@import "vendor/bootstrap/helpers";
@import "vendor/bootstrap/utilities/api";

// Icons

.bi {
  display: inline-block;
  vertical-align: -.125em;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

// Containers

@supports (padding: unquote('max(0px)')) {
  .container-fluid {
    padding-left: unquote('max(15px, env(safe-area-inset-left))') !important;
    padding-right: unquote('max(15px, env(safe-area-inset-right))') !important;
  }
}

@include media-breakpoint-up(lg) {
  .container-fluid {
    padding-left: unquote('max(31px, env(safe-area-inset-left))') !important;
    padding-right: unquote('max(31px, env(safe-area-inset-right))') !important;
  }
  @supports (padding: unquote('max(0px)')) {
    .container-fluid {
      padding-left: unquote('max(31px, env(safe-area-inset-left))') !important;
      padding-right: unquote('max(31px, env(safe-area-inset-right))') !important;
    }
  }
}

.container-fluid {
    max-width: map-get($grid-breakpoints, "xxl");
}

// Transitions

.thumbnails {
  .col {
    transition: all 0.35s ease;
  }
}

// Navigation

#nav-breadcrumb {
  .breadcrumb {
    // Hide all but the first
    & > .breadcrumb-item:nth-child(n+2) {
      display: none;
      min-width: 2em;
    }

    // X-Small: Show last 2
    & > .breadcrumb-item:nth-last-child(-n+2) {
        display: block;
    }
    & > .breadcrumb-item {
        max-width: 190px;
    }

    // Small
    @include media-breakpoint-up(sm) {
      & > .breadcrumb-item {
          max-width: 250px;
      }
    }

    // Medium: show last 4
    @include media-breakpoint-up(md) {
      & > .breadcrumb-item:nth-last-child(-n+4) {
          display: block;
      } 
      & > .breadcrumb-item {
          max-width: 270px;
      }
    }

    // X-Large: show last 6
    @include media-breakpoint-up(xl) {
      & > .breadcrumb-item:nth-last-child(-n+6) {
          display: block;
      } 
      & > .breadcrumb-item {
          max-width: 300px;
      }
    }

    & > .breadcrumb-item:last-child {
      max-width: none;
    }
  }
}

// Scrollbars

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-tertiary-color);
  border-radius: 7px;
  border: 3px solid var(--bs-body-bg);
}

::-webkit-scrollbar-track {
  background-color: var(--bs-body-bg);
}

// PhotoSwipe

@import "vendor/photoswipe";
@import "vendor/photoswipe-dynamic-caption-plugin";

// Flickr's Justified Gallery

@import "vendor/fjGallery";
