{{ $images := .Resources.ByType "image" }}
{{ if gt (len $images) 0 }}
  {{/* Get featured image */}}
  {{ $feature := ($images.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images 0) }}
  {{ $thumbnail := $feature.Fill "900x600" }}
  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
  {{ $counts := partial "GetCounts.html" . }}
  <div class="col py-3">
    <a href="{{ .RelPermalink }}" class="card bg-body-tertiary shadow-sm">
      <div class="h-100">
        <img style="aspect-ratio: 3 / 2; background-color: {{ $color }}" class="card-img-top d-block" src="{{ $thumbnail.RelPermalink }}" alt="{{ $.Title }}" 
        title="{{ $.Title }}">
        <div class="card-body">
          <h5 class="card-title text-truncate text-body-emphasis">
            {{ .Title }}
          </h5>
          <p class="card-text text-truncate text-body-secondary">
            <small>
              {{ i18n "photoCount" $counts.images }}
              {{ if gt $counts.albums 0 }}
                {{ i18n "in" }}
                {{ i18n "albumCount" $counts.albums }}
              {{ end }}
            </small>
          </p>
        </div>
      </div>
    </a>
  </div>
{{ end }}
