{{ $photos := sort (.Resources.ByType "image") (index .Params "sort_by" |default "Name") }}
{{ $sortOrder := "asc" }}
{{ $thumbnailResizeOptions := "600x400" }}
{{ $imageResizeOptions := "1600x1600" }}
{{ $galleryId := (printf "gallery-%v" .Page.File.UniqueID)}}

<div class="container-fluid py-3">
  <div id="{{ $galleryId }}" class="fj-gallery">
    {{ range $original := sort $photos "Name" $sortOrder}}
      {{ if eq $original.ResourceType "image" }}
        {{ $metadata := dict }}
        {{ with $original.Exif }}
          {{ $metadata = merge .Tags $metadata }}
        {{ end }}
        {{ $rotation := "" }}
        {{ with $metadata.Orientation }}
          {{ if or (eq . 8) (eq . 7) }}
            {{ $rotation = " r90" }}
          {{ else if or (eq . 3) (eq . 4) }}
            {{ $rotation = " r180" }}
          {{ else if or (eq . 6) (eq . 5) }}
            {{ $rotation = " r270" }}
          {{ end }}
        {{ end }}
        {{ $thumbnail := ($original.Fit (printf "%s %s" $thumbnailResizeOptions $rotation)) }}
        {{ $full := ($original.Fit (printf "%s %s" $imageResizeOptions $rotation)) }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
        <a href="{{ $original.RelPermalink }}"
          class="fj-gallery-item"
          data-src="{{ $original.RelPermalink }}"
          data-pswp-src="{{ $full.RelPermalink }}"
          data-pswp-width="{{ $full.Width }}"
          data-pswp-height="{{ $full.Height }}"
          {{ with $metadata }}
            {{ if .Title }}
              title="{{ .Title }}"
            {{ else if .ImageDescription }}
              title="{{ .ImageDescription }}"
            {{ end }}
          {{ end }}
          >
          <img
            width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}"
            loading="lazy"
            src="{{ $thumbnail.RelPermalink }}"
            style="background-color: {{ $color }};"
            {{ with $metadata }}
              {{ if .ImageDescription }}
                alt="{{ .ImageDescription }}"
              {{ else }}
                {{ if .Title}}
                  alt="{{ .Title }}"
                {{ end }}
              {{ end }}
            {{ end }}
          >
        </a>
      {{ end }}
    {{ end}}
  </div>
</div>

<script type="text/javascript">
  fjGallery(document.querySelectorAll('.fj-gallery'), {
    itemSelector: '.fj-gallery-item',
    rowHeight: 320,
    rowHeightTolerance: 0.25,
    onInit: () => {
      const smallScreenPadding = {
        top: 0, bottom: 0, left: 0, right: 0
      };
      const largeScreenPadding = {
        top: 30, bottom: 30, left: 0, right: 0
      };

      const lightbox = new PhotoSwipeLightbox({
        gallery: '#{{ $galleryId }}',
        children: 'a',
        showHideAnimationType: 'zoom',
        bgOpacity: 1,
        pswpModule: PhotoSwipe,
        imageClickAction: 'close',
        paddingFn: (viewportSize) => {
          return viewportSize.x < 700 ? smallScreenPadding : largeScreenPadding
        },
      });

      // Download button
      lightbox.on('uiRegister', () => {
        lightbox.pswp.ui.registerElement({
          name: 'download-button',
          order: 8,
          isButton: true,
          tagName: 'a',
          html: {
            isCustomSVG: true,
            inner: '<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
            outlineID: 'pswp__icn-download'
          },
          onInit: (el, pswp) => {
            el.setAttribute('download', '');
            el.setAttribute('target', '_blank');
            el.setAttribute('rel', 'noopener');
            el.setAttribute('title', 'Download');
            pswp.on('change', () => {
              el.href = pswp.currSlide.data.element.href;
            });
          }
        });
      });

      // Dynamic caption
      const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
        mobileLayoutBreakpoint: 700,
        type: 'auto',
        mobileCaptionOverlapRatio: 1
      });

      lightbox.init();
    }
  });
</script>
