<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 thumbnails">
    {{ $photos := sort (.Resources.ByType "image") (index .Params "sort_by" |default "Name") }}
    {{ range $photo := $photos }}
      {{ $thumbnail := .Fill "520x360" }}
      <div class="col py-3">
        <div class="card">
          <div class="h-100">
            <a href="{{ .RelPermalink }}" data-index="{$idx}" class="ripple d-block">
              <img class="card-img thumb-img" src="{{ $thumbnail.RelPermalink }}" alt=".Title" title=".Title">
            </a>
            {{/*
            <div class="card-body pb-1">
              <h6 class="card-title text-truncate">
                <a href="{$thumbnail.URL}">{{ .Title }}</a>
              </h6>
            </div>
            */}}
          </div>
        </div>
      </div>
    {{end}}
  </div>
</div>
